.popup-box-quiz {
    position: fixed;
    background: #0000008a;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
  }
   
  .box-quiz {
    position: relative;
    width: 40vw;
    margin: 0 auto;
    height: 45vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 1px;
    border: 1px solid rgb(185, 185, 185);
    z-index: 10;
    animation: slide-down 0.5s;
  }

  @keyframes darken {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1
    }
  }

  @keyframes slide-down {
    0% {
      margin-top: 0;
    }
    100% {
      margin-top: calc(100vh - 85vh - 20px);
    }
  }

  @keyframes appear-icon {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
   
  .close-icon-quiz {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(31% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    z-index: 10;
    animation: appear-icon 0.5s;
  }