.feed {
    position: absolute;
    float: left;
    left: 1%;
    width: 65%;
    height: 80%;
    top: 12%;
    border: 2px solid gray;
    /* border: 5px solid green; */
    /* padding: 50px;
    margin: 20px; */
    background: lightgray;
}

.subscriptions {
    position: absolute;
    float: right;
    right: 1%;
    width: 25%;
    height: 80%;
    top: 12%;
    border: 2px solid gray;
    background: lightgray;
    /* padding: 50px;
    margin: 20px; */
}

.subscriptions_header {
    text-align: center;
    padding: 6px 20%;
    border: 1px solid gray;
    height:3%;
}

.popular-quizzes {
    text-align:center;
}

.dash-card-image {
    text-align: center;
    width:20%;
}

.popular-quiz-tab {
    overflow-y: scroll;
    min-height: 140%;
    list-style-type: none;
    text-align: center;
}

.for-you-tab {
    text-align: center;
}