  html, body, div {
    height: 65%;
  }

  .container{
    background-color: #eeeaea;
    width: 100%;
    height: 60%;
    text-align: center;
  }

  .logo {
    float: left;
    width: 8%;

  }
  .search-bar {
    float: left;
    width: 50%;
    height: 5%;
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    left: 300px;
  }

  .filter {
    position: absolute;
    float: right;
    top: 2.5%;
    right: 22.2%;
  }

  .button {
    position: absolute;
    float: right;
    top: 6%;
    right: 23.9%;
  }

  .avatar {
    color:fuchsia;
    float: right;
    position: absolute;
    right: 20px;
    width: 10%;
    height: 15%;
  }

  .logbutton{
    background-color: lightblue;
    position: absolute;
    float: right;
    width: 5%;
    height: 5%;
    top: 3%;
    right: 15%;
  }