.platform-title {
    text-align: center;
    position: relative;
    z-index: 4;
    top: 320%;
    margin-left: 1.15%;
    background-color: lightblue;
    display: inline-block;
}

.platform {
    position: absolute;
    float: left;
    top: 12.5%;
    left: 1%;
    width: 98%;
    height: 85%;
    border: 2px solid gray;
    background: lightgray;
}

.platform-logo {
    position: absolute;
    top: 0px;
    left: 0.1%;
    width:10%;
    height:20%;
    border-radius: 10px;
  }

.platform-banner {
    position: relative;
    width: 100%;
    height: 30%
}

.platform-tab {
    padding-left: 0%;
    padding-right: 0%;
    width: 20vw;  
    text-align: center;
    z-index: 5;
}

.platform-tab-hidden {
  padding-left: 0%;
  padding-right: 0%;
  width: 20vw;  
  text-align: center;
  z-index: 5;
}
.plat-card-image {
    text-align: center;
    width:20%;
    height: 7.5em;

  }

.plat-card {
  background: pink;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 90%;
  width: 40vw;
  border-radius: 10px;
  font-family: "Trebuchet MS", sans-serif;
  position:relative;
  display: inline-block;
  text-align: center;
  
}

.plat-card:hover {
  box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1) perspective(1px);
  
}

.plat-card_container {
  /* float: left;
  width: 90%;
  height: 50%; */
  /* font-size: 1rem; */
  padding: 30px 16px;
  /* background: pink; */
  text-align: center;
  transform: translateZ(0);
}

.plat-card-title {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0, 180, 0);
  text-align: center;
  position: 'absolute';
  display: inline-block;
}

.plat-card-content {
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(117, 76, 1);
  text-align: center;
  height: 4em;
  display: inline-block;
}

.plat-card-action {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  display: inline-block;
}

.quiz-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 8vh;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}

.quiz-tab {
  overflow-y: scroll;
  min-height: 96.5%;
  list-style-type: none;
  text-align: center;
}

.lb-tab {
  position: 'relative';
  top: 0%; 
}

.about-tab {
  position: 'relative';
  top: 0%; 
}

.options-tab {
  position: 'relative';
  top: 0%; 
}