.platform-title {
    text-align: center;
    position: relative;
    z-index: 4;
    top: 200%;
    margin-left: 1.4%;
    background-color: lightblue;
    display: inline-block;
}

.platform {
    position: absolute;
    float: left;
    left: 1%;
    width: 98%;
    height: 70%;
    border: 2px solid gray;
    background: lightgray;
}

.platform-logo {
    position: absolute;
    top: 0px;
    left: 0.1%;
    width:10%;
    height:20%;
    border-radius: 10px;
  }

.platform-banner {
    width: 100%;
    height: 40%
}