.start-button {
    background-color: lightgreen;
    text-align: center;
    font-size: 1.8rem;
    width: 10%;
    height: 90%;
    border-radius: 15px;
    transition: 0.3s;
    position:relative;
    top: 20%;
    left:45%;
}

.start-button:hover {
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05) perspective(1px)
}

.question {
    position:relative;
    top: 100%;
    text-align: center;
    font-size: 1.8rem;
}

.correct-answer {
    width: 10%;
    border-radius: 15px;
    background-color:white;
}

.correct-answer:hover{
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05) perspective(1px)
}

.incorrect-answer {
    width: 10%;
    border-radius: 15px;
    background-color:white;
}

.incorrect-answer:hover{
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05) perspective(1px)
}


.end-of-quiz {
    position:relative;
    top: 100%;
    text-align: center;
    font-size: 1.8rem;
}