.card {
    background: pink;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 10px;
    font-family: "Trebuchet MS", sans-serif;
    position:relative;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1) perspective(1px)
  }
  
  .card_container {
    /* float: left;
    width: 90%;
    height: 50%; */
    /* font-size: 1rem; */
    padding: 30px 16px;
    /* background: pink; */
  }

  .card-title {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(0, 180, 0);
  }

  .card-content {
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(117, 76, 1);
  }

  .card-action {
    font-family: "Trebuchet MS", sans-serif;
  }

  .search-card-image {
    text-align: center;
    width:20%;
  }

  .results {
    text-align: center
  }